.wrapper {
  width: 432px;
  height: 288px;
  background-color: #121214;
  flex-direction: column;
}

.title {
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.timer {
  text-align: center;
  font-size: 48px;
  line-height: 0;
}

.temperature {
  font-size: 32px;
}

.temperatureWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.image {
  width: 60px;
  height: 60px;
}

body {
  background-color: #121214;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

